.container {
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: 'Lobster', cursive;
}
body {
  background-color: #393E46;
  text-align: center;
}
.top, .dice{
  display: flex;
  align-items: center;
  justify-content: center;
}


h2 {
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  font-size: 3rem;
} 

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

.footer {
  margin: 30px;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;

}
.reload{
  background-color: #4ECCA3;
   font-family: 'Indie Flower', cursive;
   font-size: larger;
  
}